body {
    font-family: Poppins;
    line-height: 1.6;
    margin: 50px;
    text-align: left;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.bio {
    align-items: center;
    display: flex;
    justify-items: flex-start;
    margin-left:20px;
    margin-right: 20%;
}
.portfolio{
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.project {
    margin-top: 0;
    text-align: left;
    display: flex; 
    justify-content: space-between; 
}

.project img {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}

.project-info {
    flex-grow: 2; 
}

.project-links {
    flex-shrink: 0; 
}

#me {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 20%;
    padding: 10px;
}


#links {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 10%;
}

#image {
    height: 200px;
    width:300px;
}
footer {
    text-align: center;
}