body {
    font-family: 'Courier New', monospace; 
    line-height: 1.6;
    margin: 50px;
    text-align: left;
    background-color: #2d2d2d; /* Dark background color */
    color: #ffffff; /* Light text color */
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #bbe1fa; /* Light blue color for headers */
}

p {
    color: #a6a6a6; /* Gray color for paragraphs */
}

a {
    text-decoration: none;
    color: #4ecdc4; /* Turquoise color for links in dark mode */
}

.bio, .portfolio, .project, #me, #links {
    margin-left: 20px;
    margin-right: 20%;
}

.portfoli {
    margin-left: 10%
}

.project {
    margin-top: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.project img {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}

.project-info {
    flex-grow: 2;
}

.project-links {
    flex-shrink: 0;
}

#me {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 20%;
    padding: 10px;
}

#links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-left: 11%;
}

#links li {
    margin-right: 10px; 
}

#links a {
    text-decoration: none;
    color: #ffffff; /* White color for links in dark mode */
}

#image {
    height: 200px;
    width: 300px;
}

footer {
    text-align: center;
}
/* Your existing styles for larger screens */

@media screen and (max-width: 768px) {

    body {
      margin: 10px;
    }
    .project {
        flex-direction: column;
        margin: 5px
    }
    #me {
        flex-direction: column;
        margin: 5px
    }

}
